# When set to false, source maps are not generated for a production build.
# This solves out of memory (OOM) issues on some smaller machines.
GENERATE_SOURCEMAP=false

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=postgres://postgres:example@localhost:5432/postgres

# Used to encrypt the NextAuth.js JWT, and to hash email verification tokens.
# This is the default value for the secret option in NextAuth and Middleware.
NEXTAUTH_SECRET=

# When deploying to production, set the NEXTAUTH_URL environment variable to the canonical URL of your site.
# e.g. NEXTAUTH_URL=https://example.com/custom-route/api/auth
NEXTAUTH_URL=
